@model IEnumerable<SOW.Aplicacao.ViewModels.Bancos.BancoListViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Bancos</h1>

<p>
    <a asp-action="Registrar">Novo</a>
</p>

@if (Model.Any())
{
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Editar", new {  id=item.Id })
                </td>
            </tr>
        }
        </tbody>
    </table>
}

