@model IEnumerable<SOW.Aplicacao.ViewModels.Usuarios.UsuarioListViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Usuário</h1>

<p>
    <a asp-action="Registrar">Novo</a>
</p>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Banco)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Conta)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Saldo)
                </th>

            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Banco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Conta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Saldo)
                </td>
            </tr>
        }
        </tbody>
    </table>
}

